/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;

}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: black;
    text-shadow: none;
}
hr {
    display:block;
    height: 1px;
    border: 0;
    border-top: 1px solid  #D5B632;
    margin: 1em 0;
    padding: 0;
}
audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
      body
      ========================================================================== */

body {
    background-color:#000000;

        margin-top: 50px;
color:#ccc;
}

* {
font-family:  'Courgette', cursive;

}




/* ==========================================================================
   header
   ========================================================================== */

header {
    background-color: #000000;
    text-align: center;
}

/* ==========================================================================
      navigation
      ========================================================================== */

nav {
    display: flex;
    text-align: center;
}
.navigation ul {
    width: 100%;
}
.navigation li, a {
color: #D5B632;


}
.li, a :hover
{
  background-color: transparent;
}

/* ==========================================================================
   HOME PAGE PICTURES
   ========================================================================== */
.pictures {
  margin: 0 50px;
}
   .headermessage {
     margin: 19px;
     color:  #D5B632;
     font-family: 'Open Sans', sans-serif;
     font-size: 16px;
     font-weight: bold;
   }
   .texte{
     color:  #D5B632;
     margin: 19px;
     font-family: 'Open Sans', sans-serif;
     font-size: 16px;
     font-weight: bold;
   }
   .image-block {
       border: 3px solid  #D5B632 ;
       background-color: black;
       padding: 0px;
       margin: 0px;
       height:200px;
       text-align: center;
       vertical-align: bottom;
   }
   .image-block > p {
       width:100%;
       height: 100%;
       font-weight:bold;
       font-size: 20px;
       padding-top: 150px;
       background-color: rgba(3,3,3,0.0);
       color: rgba(6,6,6,0.0);
   }
   .image-block:hover > p {
       background-color: rgba(3,3,3,0.5);
       color: white;
   }
   /* ==========================================================================
   page home with page header
      ========================================================================== */
.page-header{
  color:  #D5B632;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height:270px;
  font-weight: bold;
}

.main-header{
    font-size: 21px;
    height: 270px;
    font-family: 'Open Sans', sans-serif;
    background: url("img/home1.jep") center center no-repeat;
    background-size:cover;
}
h3,h2 , h1 {
color:#D5B632;

}
/* ==========================================================================
footer
   ========================================================================== */
button{
  float:right;
  color:#D5B632;
}
footer {
    margin: 10px 0;
}
/* ==========================================================================
page services with cards for informations
   ========================================================================== */


.thumbnail {
        position: relative;
        padding: 0px;
        margin-bottom: 20px;
    }

        .thumbnail:hover {
            background-color:#D5B632;
        }

    .votes {
        font-size: 47px;
        color:#333333;
        padding: 10px;
    }

    .thumbnail img {
        width: 100%;
    }




    /* ==========================================================================
    page PARTENAIRES with  DIRECTS LINKS for informations
       ========================================================================== */
  #cnt1 {
         background-color:rgba(215, 212, 212, 0.88);
         width:90%;
         margin-bottom:70px;
         color: #444;
     }

     .feature{
         padding: 20px 0;
        text-align: center;
     }
     .feature > div > div{
        padding: 10px;
        border: 1px solid transparent;
        border-radius: 4px;
        transition: 0.2s;
     }
     .feature > div:hover > div{
        margin-top: -10px;
        border: 1px solid rgb(128, 128, 128);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 5px;
        background: rgba(232, 215, 215, 0.10);
        transition: 0.3s;
     }


/* ==========================================================================
page CONTACT with MAPS maps done on mymap/google tools
   ========================================================================== */

  iframe {
  width: 100%;
}
       .header {
           background-color:#F5F5F5;
           color: #D5B632;
           height: 70px;
           font-size: 27px;
           padding: 10px;
       }



/* ==========================================================================
 social-icons on footer
   ========================================================================== */

.follow-us-container {
     display: flex;
     text-align: center;
    position:static;
    bottom: 0;
    margin-top: 50px;
    margin-bottom: 50px;
}
.follow-us {
    font-size: 32px;
    color: #D5B632;
}
.social-icon {
    padding-top: 6px;
    font-size: 16px;
    text-align: center;
    width: 32px;
    height: 32px;
    border: 2px solid #D5B632;
    border-radius: 50%;
    color: #D5B632;
    margin: 5px;
}
a.social-icon:hover, a.social-icon:active, a.social-icon:focus {
    text-decoration: none;
    color: #434343;
    border-color: #434343;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *, *:before, *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a, a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after, a[href^="javascript:"]:after {
        content: "";
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr, img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
}
